{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ form.media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="/admin/api/pendingregistration/">Email Addresses</a>
&rsaquo; Reset Password
</div>
{% endblock %}
{% endif %}

{% block content %}
<div id="content-main">
    <div class="module aligned">
        <h2>Reset Password for {{ pending_reg.user.email }}</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div>
                    <label for="id_email">Email:</label>
                    <input type="email" id="id_email" value="{{ pending_reg.user.email }}" readonly style="background-color: #f5f5f5;">
                </div>
            </div>
            
            <div class="form-row">
                <div>
                    <label for="id_username">Username:</label>
                    <input type="text" id="id_username" value="{{ pending_reg.user.username }}" readonly style="background-color: #f5f5f5;">
                </div>
            </div>
            
            <div class="form-row">
                <div>
                    <label for="id_status">Status:</label>
                    <input type="text" id="id_status" value="{% if pending_reg.user.is_active %}Active{% else %}Pending Approval{% endif %}" readonly style="background-color: #f5f5f5;">
                </div>
            </div>
            
            <div class="form-row">
                <div>
                    <label for="id_new_password">New Password:</label>
                    <input type="text" id="id_new_password" name="new_password" required style="width: 300px;">
                    <p class="help">Enter a new password for this user. The password will be immediately updated.</p>
                </div>
            </div>
            
            <div class="submit-row">
                <input type="submit" value="Reset Password" class="default" style="background-color: #ff6b35;">
                <a href="/admin/api/pendingregistration/" class="button cancel-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %} 